<div class="achievements">
    <div>
        <img src="/assets/images/MECC_completion_badge.png" alt="MECC completion badge" class="badges">
        <a href="https://www.credential.net/374b93e3-87a5-423d-b8c2-7af67df10723" class="accredition">MECC
            Certificate of Completion</a>
    </div>

    <div>
        <img src="/assets/images/MECC_completion_badge.png" alt="MECC completion badge" class="badges">
        <a href="https://www.credential.net/374b93e3-87a5-423d-b8c2-7af67df10723" class="accredition">MECC Certificate
            of Completion</a>
    </div>

</div>