@import url("font.css");
/*@import url("header.css");
@import url("body.css");
@import url("footer.css");
@import url("others.css");
@import url("media.css");*/

/* STYLES */
/* header

header div.banner-fix {
  height: 18px;
  margin-bottom: -5px;
}

header h1 {
  font-size: 2.5rem;
  line-height: 0.8em;
}

header h2 {
  font-size: 1.2rem;
}

header span.left-tail,
header span.right-tail {
  width: 56px;
  height: 105px;
  bottom: -37px;
}

header span.left-tail {
  background-position: 0 0;
  left: 0;
}

header span.right-tail {
  background-position: -56px 0;
  right: 0;
}

/* body

body {
  width: 65%;
  margin: 10vh auto 8vh;
}

section#main_content {
  width: 80%;
}

// .post-nav {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin-bottom: $spacing-unit;

//   div {
//     flex: 1 1 0;

//     &:first-child {
//       padding-right: 0.5em;
//     }

//     &:last-child {
//       padding-left: 0.5em;
//       text-align: right;
//     }
//   }
// }

// .unsighted {
//   border: 0;
//   clip: rect(1px, 1px, 1px, 1px);
//   clip-path: inset(50%);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
//   word-wrap: normal !important;
// }

/* footer

footer {
  margin: 8vh 0 4vh 0;
}

/* content */

/* Font */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
}

/*
p {
  margin: .7em 0;
}

ol {
  margin: .7em 0;
  list-style-type: decimal;
  padding-left: 1.35em;
}

ul {
  margin: .7em 0;
  padding-left: 1.35em;
}

ul li {
  padding-left: 10px;
  background: transparent url(../images/chevron.png) left 6px no-repeat;
}

blockquote {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  margin: 20px 0;
  color: #8b786f;
  padding-left: 1.35em;
  background: transparent url('../images/blockquote-gfx.png') 0 4px no-repeat;
}

/*
img {
  -webkit-box-shadow: 0px 2px 0px #bdb6ad;
  -moz-box-shadow: 0px 2px 0px #bdb6ad;
  box-shadow: 0px 2px 0px #bdb6ad;
  border: 2px solid #fff6e9;
  max-width: 502px;
}

hr {
  border: none;
  outline: none;
  height: 18px;
  background: transparent url('../images/hr.jpg') center center repeat-x;
  margin: 0 0 20px;
}

code {
  background: #3a3a3a;
  font: normal normal .8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0 5px 1px;
  color: #ffffff
}

pre {
  margin: 10px 50px 10px;
  padding: .7em 1.5em;
  background: #3a3a3a;
  border-bottom: 2px solid #bdb6ad;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
  max-height: 500px;
  border-radius: 30px;
  white-space: pre-wrap;
  padding: .2em .8em .2em 2em;
  /*over-flow: anywhere;
}

pre code {
  font: 1.1em/1.7 Monaco;
  padding: 0;
  font-style: italic;
}


table {
  display: table;
  margin: 3px;
  padding: 3px;
  font-size: smaller;
  width: 100%;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  padding: 2px 2px;
  border: solid #cd596b;
  border-width: 0 0 1.2px 0;
  color: #cd596b;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
  font-size: .85em;
}

td {
  display: table-cell;
  padding: 0 .7em;
  border: solid #d5d5d5;
  border-width: 1px;
}

dl {
  margin: .7em 0 20px;
}

dt {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
}

dd {
  padding-left: 1.35em;
}

dd p:first-child {
  margin-top: 0;
}

/* Content based headers */

#main_content>.header-level-1:first-child,
#main_content>.header-level-2:first-child,
#main_content>.header-level-3:first-child,
#main_content>.header-level-4:first-child,
#main_content>.header-level-5:first-child,
#main_content>.header-level-6:first-child {
  margin-top: 0;
}

.header-level-1 {
  font-size: 1.85em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: italic;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px
}

.header-level-2 {
  font-size: 1.58em;
  color: #7c334f;
  margin: .95em 0 .5em;
  border-bottom: .1em solid #D3CCC1;
  line-height: 1.2;
  padding-bottom: 10px
}

.header-level-3 {
  margin: 20px 0 10px;
  font-size: 1.45em;
}

.header-level-4 {
  margin: .6em 0;
  font-size: 1.2em;
  color: #cd596b;
}

.header-level-5 {
  margin: .7em 0;
  font-size: 1em;
  color: #8b786f;
}

.header-level-6 {
  margin: .8em 0;
  font-size: .85em;
  font-style: italic;
}