body {
    background-color: blanchedalmond;
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: min(740px, 85%);
    margin-inline: auto;
    padding: 0 2vw;
    align-items: center;
    margin-top: clamp(12px, 2.9vw, 30px);
    margin-bottom: clamp(10px, 2.4vw, 25px);
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.main_content {
    width: 100%;
}

/*
------------------------------------------------------------
Paragraph
------------------------------------------------------------
*/
p {
    margin: .7em .25em 0;
}

/*
------------------------------------------------------------
ordered list
------------------------------------------------------------
*/
ol {
    margin: .7em .25em 0;
    list-style-type: decimal;
    padding-left: 3.5em;
}

/*
-----------------------------------------------------------
unordered list
-----------------------------------------------------------
*/
ul {
    margin: .7em .25em 0;
    padding-left: 3.5em;
}

ul li {
    padding-left: 1em;
    background: transparent url(../images/chevron.png) left 6px no-repeat;
}

/*
-----------------------------------------------------------
unordered list
-----------------------------------------------------------
*/
blockquote {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    margin: .7em .25em 0;
    color: #8b786f;
    padding: 0 3.5em 0;
    background: transparent url('../images/blockquote-gfx.png') no-repeat;
    background-size: 10px;
    background-position-x: 35px;
}