body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

section#main_content {
    z-index: 2;
    padding: 10px 10% 0;
    min-height: 100vh;
}

div.df {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
}

/*
-----------------------------
paragraph
-----------------------------
*/

p {
    margin: .7em 0 0;
}

/*
-----------------------------
ordered list
-----------------------------
*/

ol {
    margin: .7em 0 0;
    list-style-type: decimal;
    padding-left: 1.5em;
}

/*
-----------------------------
unordered list
-----------------------------
*/

ul {
    margin: .7em 0 0;
    padding-left: 1.5em;
}

ul li {
    padding-left: 1em;
    background: transparent url(../images/chevron.png) left 6px no-repeat;
}

/*
-----------------------------
unordered list
-----------------------------
*/

blockquote {
    font-family: 'Ubuntu', sans-serif;
    margin: .7em 0 0;
    color: #8b786f;
    padding-left: 1.5em;
    background: transparent url('../images/blockquote-gfx.png') 0 4px no-repeat;
}