@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Base font */
body {
    background: #ece4d8;
    font-family: 'Ubuntu', sans-serif;
    color: #544943;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}

/* HEADERS */
h1,
#main_content>.header-level-1,
h2,
#main_content>.header-level-2,
h3,
#main_content>.header-level-3,
h4,
#main_content>.header-level-4,
h5,
#main_content>.header-level-5,
h6,
#main_content>.header-level-6 {
    font-family: 'Ubuntu', sans-serif;
    color: #7c334f;
    font-style: italic;
    margin: .25em .25em 0;
    line-height: 1.2em;
    padding-bottom: .2em;
    border-bottom: .1em solid #d3ccc1;
}

.header-level-1 {
    text-align: center;
}

/* Link font */
a {
    color: #417090;
    text-decoration: none;
}

/* Link hover font */
a:hover {
    text-decoration: underline;
    color: #1800b3;
}

/* Bold text */
strong {
    font-weight: bold;
}

/* Italic text */
em {
    font-style: italic;
}