footer {
    /*background: transparent url(../images/footer-ramp.jpg) center -1px no-repeat;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    top: 25px;
    margin-bottom: 50px;
}

footer span.ribbon-outer {
    display: flex;
    border-bottom: 2px solid #bdb6ad;
    width: 100%;
}

footer span.ribbon-inner {
    position: relative;
    display: flex;
    background-color: #cd596b;
    border: 2px solid #7c334f;
    padding: 1px;
    z-index: 1;
    justify-content: center;
    width: 100%;
}

footer span.ribbon-inner p {
    background-color: #7c334f;
    margin: 0;
    color: #e69b95;
    font: normal 9px/1 Georgia, Times, “Times New Roman”, serif;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 100%;
    text-align: center;
}

footer span.ribbon-inner a {
    position: relative;
    bottom: -1px;
    color: #7eb0d2;
    font: bold italic 9px/1 Georgia, Times, “Times New Roman”, serif;
    /*font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2em;*/
}

footer span.ribbon-inner a:hover {
    color: #7eb0d2;
}

footer span.left-tail,
footer span.right-tail {
    position: relative;
    display: block;
    width: 18px;
    height: 29px;
    background: transparent url(../images/small-ribbon-tail-sprite.png) 0 0 no-repeat;
    position: absolute;
    bottom: 5px;
    z-index: 0;
}

footer span.left-tail {
    background-position: 0 0;
    left: -11px;
}

footer span.right-tail {
    background-position: -18px 0;
    right: -11px;
}