footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
    margin: 2% 0 0;
}

footer span.ribbon-outer {
    display: flex;
    width: 100%;
}

footer span.ribbon-inner {
    display: flex;
    background-color: #7c334f;
    border-bottom: 2px solid #bdb6ad;
    padding: .05% .2%;
    z-index: 1;
    width: 100%;
    align-items: center;
    height: fit-content;
}

footer span.ribbon-inner p {
    color: #e69b95;
    padding: .3%;
    width: 100%;
    text-align: center;
    font-size: x-small;
    margin: .3%;
    font-weight: bold;
}

footer span.ribbon-inner a {
    color: #7eb0d2;
    font-family: 'Lugrasimo', sans-serif;
    font-weight: bold;
}

footer span.left-tail,
footer span.right-tail {
    position: relative;
    background: transparent url(../images/small-ribbon-tail-sprite.png) no-repeat;
    height: 29px;
    width: 21px;
    bottom: 8px;
    z-index: -1;
}

footer span.left-tail {
    background-position: left;
    left: 8px;
}

footer span.right-tail {
    background-position: right;
    right: 8px;
}