a#site-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 99px;
    height: 43px;
    display: block;
    background: transparent url(../images/NIJobair.svg) 0 0 no-repeat;
    z-index: 3;
}

a#site-logo:hover {
    transform: scale(1.1, 1.1);
    /* Increase size by 10% on hover */
    transition: transform 0.2s ease-in-out;
    /* Smooth transition effect */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    top: 38px;
}