/*
------------------------------------------------------------
Image
------------------------------------------------------------
*/
img {
    width: 100%;
    box-shadow: 2px 2px 4px 0px #474746;
    margin-top: clamp(10px, 1.8vw, 20px);
}