@import url("font.css");


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,
footer,
section {
  display: block;
  position: relative;
}
*/

/* STYLES */

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%
}

div.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

a#site-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 99px;
  height: 43px;
  display: block;
  background: transparent url(../images/NIJobair.svg) 0 0 no-repeat;
  text-indent: -9000px;
  z-index: 3;
}

a#site-logo:hover {
  transform: scale(1.1, 1.1);
  /* Increase size by 10% on hover */
  transition: transform 0.2s ease-in-out;
  /* Smooth transition effect */
}

/* header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  top: 38px;
}

header div.banner-fix {
  background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
  height: 20px;
  width: 100%;
  margin-bottom: -1px;
}

header div.ribbon-outer {
  display: flex;
  margin: 0px;
  width: 100%;
}

header span.ribbon-inner {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c334f;
  border: 4px solid #7c334f;
  padding: 2px;
  z-index: 1;
  margin: 0px;
  width: 100%;
}

header span.left-tail,
header span.right-tail {
  position: relative;
  display: block;
  width: 19px;
  height: 10px;
  background: transparent url(../images/ribbon-tail-sprite-2x.png) 0 0 no-repeat;
  position: absolute;
  bottom: -10px;
  z-index: 0;
}

header span.left-tail {
  background-position: 0 0;
  left: 0;
}

header span.left-tail {
  background-position: 0 0;
  left: -31px;
}

header h1 {
  background-color: #7c334f;
  font-size: 2em;
  font-weight: bolder;
  font-style: normal;
  text-transform: uppercase;
  color: #ece4d8;
  text-align: center;
  line-height: 1;
  padding: 14px 20px 0;
}

header h2 {
  background-color: #7c334f;
  font: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
  color: #e69b95;
  padding-bottom: 14px;
  margin-top: -3px;
  text-align: center;
}

/*
section#downloads {
  position: relative;
  display: block;
  height: 171px;
  width: 602px;
  padding-bottom: 150px;
  margin: 51px auto -250px;
  z-index: 1;
  background: transparent url(../images/shield.png) center 0 no-repeat;
}

section#downloads a {
  display: none;
}

span.banner-fix {
  background: transparent url(../images/shield-fallback.png) center top no-repeat;
  display: block;
  height: 31px;
  position: absolute;
  width: 640px;
  top: 20px;

}
*/

section#main_content {
  z-index: 2;
  padding: 20px 40px 0;
  min-height: 185px;
  width: 90%
}

/* footer */

footer {
  margin: 6vh 0 3vh 0;
}

/* content */

body {
  background: #ece4d8;
  font: normal normal 30px/1.5 Georgia, Palatino, ” Palatino Linotype”, Times, “Times New Roman”, serif;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

/* Font */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin: .7em 0 0;
}

ol {
  margin: .7em 0;
  list-style-type: decimal;
  padding-left: 1.35em;
}

ul {
  margin: .7em 0;
  padding-left: 1.35em;
}

ul li {
  padding-left: 20px;
  background: transparent url(../images/chevron-2x.png) left 15px no-repeat;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
  color: #8b786f;
  padding-left: 1.35em;
  background: transparent url('../images/blockquote-gfx-2x.png') 0 8px no-repeat;
}

img {
  -webkit-box-shadow: 0px 4px 0px #bdb6ad;
  -moz-box-shadow: 0px 4px 0px #bdb6ad;
  box-shadow: 0px 4px 0px #bdb6ad;
  border: 4px solid #fff6e9;
  max-width: 556px;
}

hr {
  border: none;
  outline: none;
  height: 42px;
  background: transparent url('../images/hr-2x.jpg') center center repeat-x;
  margin: 0 0 20px;
}

code {
  background: #3a3a3a;
  font: normal normal .8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0 5px 1px;
  color: #ffffff
}

pre {
  margin: 10px 50px 10px;
  padding: .7em 1.5em;
  background: #3a3a3a;
  border-bottom: 2px solid #bdb6ad;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
  max-height: 500px;
  border-radius: 30px;
  white-space: pre-wrap;
  padding: .2em .8em .2em 2em;
  /*over-flow: anywhere;*/
}

pre code {
  font: 1.1em/1.7 Monaco;
  padding: 0;
  font-style: italic;
}

table {
  display: table;
  margin: 3px;
  padding: 3px;
  font-size: smaller;
  width: 100%;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  padding: 2px 2px;
  border: solid #cd596b;
  border-width: 0 0 1.2px 0;
  color: #cd596b;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
  font-size: .85em;
}

td {
  display: table-cell;
  padding: 0 .7em;
  border: solid #d5d5d5;
  border-width: 1px;
}

dl {
  margin: .7em 0 20px;
}

dt {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

dd {
  padding-left: 1.35em;
}

dd p:first-child {
  margin-top: 0;
}

/* Content based headers */

#main_content>.header-level-1:first-child,
#main_content>.header-level-2:first-child,
#main_content>.header-level-3:first-child,
#main_content>.header-level-4:first-child,
#main_content>.header-level-5:first-child,
#main_content>.header-level-6:first-child {
  margin-top: 0;
}

.header-level-1 {
  font-size: 1.85em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: italic;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px
}

.header-level-2 {
  font-size: 1.58em;
  color: #7c334f;
  margin: .95em 0 .5em;
  border-bottom: .1em solid #D3CCC1;
  line-height: 1.2;
  padding-bottom: 10px
}

.header-level-3 {
  margin: 20px 0 10px;
  font-size: 1.45em;
}

.header-level-4 {
  margin: .6em 0;
  font-size: 1.2em;
  color: #cd596b;
}

.header-level-5 {
  margin: .7em 0;
  font-size: 1em;
  color: #8b786f;
}

.header-level-6 {
  margin: .8em 0;
  font-size: .85em;
  font-style: italic;
}